@import 'modules/variables';
@import 'reset';

*{
	line-height: 1.6;
}

h1,h2,h3,h4,h5,h6,strong{
	font-family: $fontBold;
}

h1{
	font-size: 200%;
}
h2{
	font-size: 180%;
}
h3{
	font-size: 160%;
}
h4{
	font-size: 140%;
}
h5{
	font-size: 120%;
}
h6{
	font-size: 100%;
}

ul{
	li{
		list-style: circle;
		margin-left: 20px;
	}
}
ol{
	li{
		list-style: decimal;
		margin-left: 20px;
	}
}
a{
	color: $blue;
	transition: color .3s ease;
	text-decoration: underline;
	&:hover{
		color: $purple;
	}
}
blockquote{
	&:before, &:after{
		content: '"';
		display: inline-block;
		font-size: 14px;
	}
	&:before{
		margin-left: 5px;
	}
	&:after{
		margin-right: 5px;
	}
}