#main-visual{
	position: relative;
	@include PC{
		width: 980px;
		margin: 0 auto;
	}
	&:before{
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: url("../img/farm-bg.jpg");
		background-position: center center;
		background-size: cover;
		opacity: 0.5;
		z-index: -1;
	}
	.main-visual-wrapper{
		box-sizing: border-box;
		@include PC{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px;
		}
		@include SP{
			padding: 20px;
		}
		.logo{
			@include PC{
				width: 203px;
			}
			@include SP{
				width: 153px;
				margin: 0 auto;
			}
			& > img{
				@include PC{
					width: 203px;
					height: auto;
				}
				@include SP{
					width: 153px;
					height: auto;
				}
			}
		}
		.news{
			background-color: rgba(255,255,255,0.5);
			box-sizing: border-box;
			@include PC{
				width: calc(100% - 203px - 30px);
				padding: 15px;
			}
			@include SP{
				padding: 10px;
			}
			.title{
				& > span{
					display: block;
					font-family: $fontSemiBold;
				}
				.en{
					@include PC{
						font-size: 18px;
					}
					@include PC{
						font-size: 14px;
					}
				}
				.ja{
					@include PC{
						font-size: 16px;
						margin-top: 10px;
						margin-bottom: 20px;
					}
					@include SP{
						font-size: 12px;
						margin-top: 10px;
						margin-bottom: 20px;
					}
				}
			}
			.content{
				overflow: scroll;
				@include PC{
					height: 300px;
				}
				@include SP{
					height: 200px;
				}
				.item{
					margin-bottom: 10px;
					display: flex;
					justify-content: space-between;
					&:last-child{
						margin-bottom: 0;
					}
					.time{
						@include PC{
							width: 100px;
							font-size: 12px;
						}
						@include SP{
							width: 20%;
							font-size: 11px;
						}
					}
					.txt{
						line-height: 1.5;
						@include PC{
							width: calc(100% - 100px - 30px);
							font-size: 14px;
						}
						@include SP{
							width: calc(100% - 20px - 20%);
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}