#sidebar{
	@include PC{
		width: 300px;
	}
	@include SP{
		box-sizing: border-box;
		padding: 20px;
		margin-top: 25px;
	}
	.verse{
		color: $red;
		box-sizing: border-box;
		@include PC{
			padding: 20px;
		}
		.content{
			& > span{
				display: block;
				@include PC{
					line-height: 1.5;
				}
				@include SP{
					line-height: 2;
				}
			}
			.txt{
				font-family: $fontSemiBold;
				@include PC{
					font-size: 16px;
				}
				@include SP{
					font-size: 12px;
				}
			}
			.from{
				margin-top: 10px;
				@include PC{
					font-size: 14px;
				}
				@include SP{
					font-size: 11px;
				}
			}
		}
	}
}